<footer>
    <div>
        <img src="assets/img/dev-icon.png" alt="Logo do curso">
        <p>HTML e CSS</p>
    </div>
    <ul>
        <li>Referências</li>
        <li><a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML" target="_blank">HTML na MDN</a></li>
        <li><a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS" target="_blank">CSS na MDN</a></li>
    </ul>
    <ul>
        <li>Ferramentas</li>
        <li><a href="https://codepen.io/" target="_blank">CodePen</a></li>
        <li><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></li>
    </ul>
</footer>
