body{
    margin: auto;
    padding: 50px;
    background-color: #081D2F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    
}
.titulo-principal{
    color: #66d6e0;
}
.principal{
    text-align: center;
}